body
{
  background-color: #aa0000;
  color: #ffffee;
  font-family: "Comic Sans MS";
  text-align: center;
}

.shy
{
  outline: #ffffff dotted thick;
  font-family: "Comic Sans MS";
  text-align: center;
  font-size: 1.5em;
}

#sitetitle
{
  font-size: 3em;
}
